.home-container {
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
}


button {
    margin: 25px;
    background-color: #33779e;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium;
}