.playlist-container {
    display: flex;
    align-self: center;
    text-align: center;
    justify-content: center;
    min-width: 500px;
    margin-bottom: 50px;

    mat-card {
        width: 500px;
        min-width: 200px;
        padding-top: 35px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    
        img {
            width: 33%;
            margin-top: 5px;
        }

        .info-button {
            background-color: #33779e;
            color: white;
        }
        
        .spotify-button {
            background-color: #1DB954;
            color: white;
        }

        mat-action-row {
            margin-top: 20px;
        }
    }

    ::ng-deep .mat-spinner circle {
        stroke: white;
    }
}
