<div class="playlist-container">
    <mat-card *ngIf="playlists.length > 0; else loading">
        <mat-card-header>
            <mat-card-title>Your Playlists</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let playlist of existingPlaylists">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <img class="image-small" [src]="playlist.imageUrl" alt="Album Cover List">
                            <div class="playlist-name">{{playlist.name}}</div>
                            <div class="previously-generated">Previously Generated</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <img mat-card-image [src]="playlist.imageUrl" alt="Album Cover">
                        <br>
                        <b>Author</b>
                        <br>
                        {{playlist.createdBy}}
                        <br>
                        <mat-icon matTooltip="Playlist is Public" *ngIf="playlist.isPublic">public</mat-icon>
                        <mat-icon matTooltip="Playlist is Private" *ngIf="!playlist.isPublic">visibility_off</mat-icon>
                        <mat-icon matTooltip="Playlist is Collaborative" *ngIf="playlist.isCollaborative">people</mat-icon>
                        <mat-icon matTooltip="Playlist is not Collaborative" *ngIf="!playlist.isCollaborative">person</mat-icon>
                        <mat-action-row>
                            <a [href]="playlist.spotifyUrl">
                                <button mat-button class="spotify-button">Spotify</button>
                            </a>
                            <button mat-button
                                    class="info-button"
                                    [routerLink]="['/playlist', playlist.id]">View</button>
                            <button mat-button
                                    class="info-button"
                                    (click)="generateInfo(playlist.id)">Regenerate</button>
                        </mat-action-row>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel *ngFor="let playlist of playlists">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <img class="image-small" [src]="playlist.imageUrl" alt="Album Cover List">
                            {{playlist.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <img mat-card-image [src]="playlist.imageUrl" alt="Album Cover">
                        <br>
                        <b>Author</b>
                        <br>
                        {{playlist.createdBy}}
                        <br>
                        <mat-icon matTooltip="Playlist is Public" *ngIf="playlist.isPublic">public</mat-icon>
                        <mat-icon matTooltip="Playlist is Private" *ngIf="!playlist.isPublic">visibility_off</mat-icon>
                        <mat-icon matTooltip="Playlist is Collaborative" *ngIf="playlist.isCollaborative">people</mat-icon>
                        <mat-icon matTooltip="Playlist is not Collaborative" *ngIf="!playlist.isCollaborative">person</mat-icon>
                        <mat-action-row>
                            <a [href]="playlist.spotifyUrl">
                                <button mat-button class="spotify-button">Spotify</button>
                            </a>
                            <button mat-button
                                    class="info-button"
                                    (click)="generateInfo(playlist.id)">Generate Info</button>
                        </mat-action-row>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
            <button mat-button
                    *ngIf="loadMoreFlag"
                    class="load-more"
                    (click)="loadMore()">
                Load More
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </mat-card-content>
        <mat-card-footer>
            Total Playlists: {{playlists.length}}
        </mat-card-footer>
    </mat-card>
    <ng-template #loading>
        <mat-spinner color="white"></mat-spinner>
    </ng-template>
</div>
