<div class="playlist-container">
    <mat-card *ngIf="$playlists | async as playlists; else loading">
        <mat-card-header>
            <mat-card-title>Your Playlists</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let playlist of playlists">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{playlist.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <img mat-card-image [src]="playlist.images[0].url" alt="Album Cover">
                        <br>
                        <b>Created By: </b>{{playlist.owner.displayName}}
                        <br>
                        <b>Collaborative: </b>{{playlist.isCollaborative}}
                        <br>
                        <b>Public: </b>{{playlist.isPublicAccess}}
                        <mat-action-row>
                            <a [href]="playlist.externalUrls.externalUrls.spotify">
                                <button mat-button class="spotify-button">View on Spotify</button>
                            </a>
                            <button mat-button class="info-button">Generate Playlist Info</button>
                        </mat-action-row>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
    <ng-template #loading>
        <mat-spinner color="white"></mat-spinner>
    </ng-template>
</div>
