.playlist-container {
    display: flex;
    align-self: center;
    text-align: center;
    justify-content: center;
    min-width: 500px;
    margin-bottom: 50px;

    mat-card {
        width: 600px;
        min-width: 200px;
        padding-top: 35px;
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 25px;
    
        img {
            width: 33%;
            margin-top: 5px;
        }

        .info-button {
            background-color: #33779e;
            color: white;
        }
        
        .spotify-button {
            background-color: #1DB954;
            color: white;
        }
        
        .load-more {
            margin-top: 25px;
        }

        mat-action-row {
            margin-top: 20px;
        }

        mat-card-footer {
            text-align: right;
            margin-right: 10px;
            font-size: 12px;
        }

        mat-panel-title {
            display: flex;
            align-items: center;
        }

        .playlist-name {
            float: left;
            text-align: left;
        }

        .previously-generated {
            position: absolute;
            right: 60px;
            font-size: 10px;
            color: white;
            background-color: #33779e;
            padding: 5px;
            border-radius: 5px;
        }

        .image-small {
            width: 35px;
            margin-right: 15px;
        }

        span {
            font-size: 10px;
            left: 300px;
            position: absolute;
        }

        mat-icon {
            margin: 10px;
        }
    }

    ::ng-deep .mat-spinner circle {
        stroke: white;
    }
}
